// font stuff

:root {
    --blue: #3737F4;
    --red: #E93200;
    --green: #77B757;
    --orange: #ECA139;
    --purple: ;
}


h1 { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } 

h3 { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } 

p { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } 

blockquote { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 

pre { font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

body {
    padding: 0;
    margin: 0;
}

p, h1, span, div {
    padding: 0;
    margin: 0;
}


// NAVBAR

#navbar {
    #nav-container {
        user-select: none;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 10px 50px 10px 50px;
        #logo-text-wrapper {
            padding: 10px 50px 10px 50px;
            margin: 0;
            // padding: 0;
            // margin: 0;
            h1 {
                white-space: nowrap;
                // font-size: 80%;
                margin: 0;
                padding: 0;
                .red-p {
                    color: var(--red);
                }
                .blue-p {
                    color: var(--blue);
                }
            }
        }
        
        #logo-image-wrapper {
            // position: absolute;
            // top: 5px;
            // right: 
            height: 100%;
            padding: 5px 50px 5px 50px;
            #logo-image {
                // height: 2.5em;
                // margin-top: 10px;
                height: 205%
            }
        }

        border-bottom: solid black 2.5px;
    }
}


.environment-added {
    height: 60vh !important;
}

#content {

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    .environment {
        overflow: hidden;
    
        display: flex;
        flex-direction: row;

        padding: 0;
        margin: 0;

        height: 90vh;

        border-bottom: solid black 2.5px;
    
        .givens-wrapper {
            // overflow: hidden;
            height: 100%;
            width: 70vw;
            border-right: solid black 2.5px;
    
            justify-content: center;
    
            .givens-title-wrapper {
                padding: 10px 50px 5px 50px;
                text-align: left;
                .givens-title {
                    user-select: none;
                }
                height: 10%;
            }
    
            .givens-playground {
                height: 90%;
                margin: 0 5px 0 50px;
                > * {
                    position: absolute;
                }
            }

        }
    
        .goals-wrapper {
            .goals-title-wrapper {
                padding: 10px 50px 5px 50px;
                text-align:left;
                .goals-title {
                    user-select: none;
                }
                height: 10%;
            }
            height: 100%;
            width: 30vw;
    
            justify-content: center;        
            
            .goals-playground {
                height: 90%;
                margin: 0 0 0 50px;
            }
        }
    }
}

// #box {
//     height: 50px;
//     width: 50px;
//     background-color: blue;
//     color: white
// }

.atom {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    .atom-text-wrapper {
        .atom-text {
            font-size: 40px;
            line-height: 40px;
            padding: 0;
            margin: 0;  
            margin-top: -4px;
            cursor: move; 
            user-select: none;
        }
    }
    touch-action: none;
}


.atom-active {
    .atom-text-wrapper {
        .atom-text {
            color:#E93200 !important;
        }
    }
}

// .textResize1 {
//     position: relative;
//     top: 0%;
//     left: 0%;
//     height: 50px;
//     width: 50px;
// }

// .textResize2 {
//     position: relative;
//     top: 0%;
//     left: 0%;
//     height: 40px;
//     width: 40px;
// }

// .textResize3 {
//     position: relative;
//     top: 0%;
//     left: 0%;
//     height: 50px;
//     width: 50px;
// }


.connector {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: white;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    .connector-wrapper {

        padding: 5px;
        border: solid black 3.5px;
        // padding: 2px;
        border-radius: 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        height: fit-content;
        width: fit-content;

        // .connector-input {
        //     // height: 100%;
        //     width: 10%;
        //     // background-color: black;
        //     // width: auto;
        //     height: auto;
        // }

        .connector-left {
            padding: 5px;
            // align-items: center;
            text-align: center;
            // display: flex;
            // padding: auto;
            // display: inline-block;
            // justify-content: center;
            // .atom {
            //     margin: auto;
            // }
            min-width: 40px;
            min-height: 50px;
            width: auto;
            height: auto;
            // height: 100%;
            // width: 30%;
            // height: fit-content;
            // width: fit-content;
            // border: solid black 3.5px;
            border-radius: 10px;
        }
        .connector-symbol {
            min-width: 40px;
            min-height: 40px;
            width: auto;
            height: auto;
            padding: 6px 2px 6px 2px;

            svg {
                max-height: 30px;
            }
            // height: 100%;
            // width: 30%;
            // height: fit-content;
            // width: fit-content;
            // border-top: solid black 2.5px;
            // border-bottom: solid black 2.5px;
            // border-radius: 10px;
        }
        .connector-right {
            text-align: center;
            padding: 5px;
            min-width: 40px;
            min-height: 50px;
            width: auto;
            height: auto;
            // height: 100%;
            // width: 30%;
            // height: fit-content;
            // width: fit-content;
            // border: solid black 3.5px;
            border-radius: 10px;
        }

        // .connector-output {
        //     height: 100%;
        //     width: 10%;
        //     background-color: gray;
        // }
    }
    touch-action: none;
}

.implies-symbol {
    min-width: 44px !important;
    padding: 6px 2px 6px 2px !important;
}

.msg {
    position: relative;
    top: 50%;
    left: 45%;
    // margin-top: -50%;
    // margin-left: -50%;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}


.inactive-goal {
    filter: grayscale(1) !important;
}

.inactive-constructor {
    // border-color: gray !important;
    filter: grayscale(1) !important;
    border-style: dotted !important;
    // border-width: 0;
    // color: gray !important;
    // background: white;
    // mix-blend-mode: saturation;
}

.p-color {
    color: var(--blue);
}

.q-color {
    color: var(--red);
}

.r-color {
    color: var(--green);
}

.s-color {
    color: var(--orange);
}

// #box1 {
//     width: 40px;
//     height: 40px;
//     text-align: center;
//     vertical-align: middle;

    
//     // width: 25%;
//     // min-height: 6.5em;
//     // // margin: 1rem 0 0 1rem;
//     // background-color: #29e;
//     // color: white;
//     // border-radius: 0.75em;
//     // padding: 4%;
//     // touch-action: none;
//     // user-select: none;
//   }

#atom {
    border-style: solid;
    border-color: red;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

#machine {
    border-style: solid;
    border-color: blue;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}


@media only screen and (max-width: 750px) {
    #logo-image {
        height: 100% !important;
    }
}   