:root {
  --blue: #3737F4;
  --red: #E93200;
  --green: #77B757;
  --orange: #ECA139;
  --purple: ;
}

h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, span, div {
  padding: 0;
  margin: 0;
}

#navbar #nav-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 2.5px;
}
#navbar #nav-container #logo-text-wrapper {
  padding: 10px 50px 10px 50px;
  margin: 0;
}
#navbar #nav-container #logo-text-wrapper h1 {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
#navbar #nav-container #logo-text-wrapper h1 .red-p {
  color: var(--red);
}
#navbar #nav-container #logo-text-wrapper h1 .blue-p {
  color: var(--blue);
}
#navbar #nav-container #logo-image-wrapper {
  height: 100%;
  padding: 5px 50px 5px 50px;
}
#navbar #nav-container #logo-image-wrapper #logo-image {
  height: 205%;
}

.environment-added {
  height: 60vh !important;
}

#content-titles #environment {
  height: 10vh !important;
  border: none;
}

#content, #content-titles {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
#content .environment, #content .title-environment, #content-titles .environment, #content-titles .title-environment {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 90vh;
  border-bottom: solid black 2.5px;
}
#content .environment .givens-wrapper, #content .title-environment .givens-wrapper, #content-titles .environment .givens-wrapper, #content-titles .title-environment .givens-wrapper {
  height: 100%;
  width: 70vw;
  border-right: solid black 2.5px;
  justify-content: center;
}
#content .environment .givens-wrapper .givens-title-wrapper, #content .title-environment .givens-wrapper .givens-title-wrapper, #content-titles .environment .givens-wrapper .givens-title-wrapper, #content-titles .title-environment .givens-wrapper .givens-title-wrapper {
  padding: 10px 50px 30px 50px;
  text-align: left;
  height: 10%;
}
#content .environment .givens-wrapper .givens-title-wrapper .givens-title, #content .title-environment .givens-wrapper .givens-title-wrapper .givens-title, #content-titles .environment .givens-wrapper .givens-title-wrapper .givens-title, #content-titles .title-environment .givens-wrapper .givens-title-wrapper .givens-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}
#content .environment .givens-wrapper .givens-playground, #content .title-environment .givens-wrapper .givens-playground, #content-titles .environment .givens-wrapper .givens-playground, #content-titles .title-environment .givens-wrapper .givens-playground {
  height: 90%;
  margin: 0 5px 0 50px;
}
#content .environment .givens-wrapper .givens-playground > *, #content .title-environment .givens-wrapper .givens-playground > *, #content-titles .environment .givens-wrapper .givens-playground > *, #content-titles .title-environment .givens-wrapper .givens-playground > * {
  position: absolute;
}
#content .environment .goals-wrapper, #content .title-environment .goals-wrapper, #content-titles .environment .goals-wrapper, #content-titles .title-environment .goals-wrapper {
  height: 100%;
  width: 30vw;
  justify-content: center;
}
#content .environment .goals-wrapper .goals-title-wrapper, #content .title-environment .goals-wrapper .goals-title-wrapper, #content-titles .environment .goals-wrapper .goals-title-wrapper, #content-titles .title-environment .goals-wrapper .goals-title-wrapper {
  padding: 10px 50px 30px 50px;
  text-align: left;
  height: 10%;
}
#content .environment .goals-wrapper .goals-title-wrapper .goals-title, #content .title-environment .goals-wrapper .goals-title-wrapper .goals-title, #content-titles .environment .goals-wrapper .goals-title-wrapper .goals-title, #content-titles .title-environment .goals-wrapper .goals-title-wrapper .goals-title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
}
#content .environment .goals-wrapper .goals-playground, #content .title-environment .goals-wrapper .goals-playground, #content-titles .environment .goals-wrapper .goals-playground, #content-titles .title-environment .goals-wrapper .goals-playground {
  height: 90%;
  margin: 0 0 0 50px;
}

.atom {
  position: relative;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 30px;
  height: 40px;
  touch-action: none;
}
.atom .atom-text-wrapper .atom-text {
  font-size: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  margin-top: -4px;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.atom-active .atom-text-wrapper .atom-text {
  color: #E93200 !important;
}

.connector {
  position: relative;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: white;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  touch-action: none;
}
.connector .connector-wrapper {
  padding: 5px;
  border: solid black 3.5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.connector .connector-wrapper .connector-left {
  padding: 5px;
  text-align: center;
  min-width: 40px;
  min-height: 50px;
  width: auto;
  height: auto;
  border-radius: 10px;
}
.connector .connector-wrapper .connector-symbol {
  min-width: 40px;
  min-height: 40px;
  width: auto;
  height: auto;
  padding: 6px 2px 6px 2px;
}
.connector .connector-wrapper .connector-symbol svg {
  max-height: 30px;
}
.connector .connector-wrapper .connector-right {
  text-align: center;
  padding: 5px;
  min-width: 40px;
  min-height: 50px;
  width: auto;
  height: auto;
  border-radius: 10px;
}

.implies-symbol {
  min-width: 44px !important;
  padding: 6px 2px 6px 2px !important;
}

.msg {
  position: absolute;
  top: 50%;
  left: 45%;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.inactive-goal {
  filter: grayscale(1) !important;
}

.inactive-constructor {
  filter: grayscale(1) !important;
  border-style: dotted !important;
}

.p-color {
  color: var(--blue);
}

.q-color {
  color: var(--red);
}

.r-color {
  color: var(--green);
}

.s-color {
  color: var(--orange);
}

#atom {
  border-style: solid;
  border-color: red;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

#machine {
  border-style: solid;
  border-color: blue;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.level-selection-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.level-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.level-card, .coming-soon-card {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
  border: solid black 5px;
  border-radius: 5px;
  width: 200px;
  height: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.level-card:hover, .coming-soon-card:hover {
  transform: rotate(5deg);
  filter: brightness(0.8);
}

.coming-soon-card {
  border: none;
  text-align: left !important;
}

.level-text {
  padding: 0;
  margin: 0;
  text-shadow: 20px 20px 20px white;
}

@media only screen and (max-width: 750px) {
  #logo-image {
    height: 100% !important;
  }
  #logo-text-wrapper {
    padding: 5px 20px 5px 20px !important;
  }
  #logo-image-wrapper {
    padding: 5px 20px 5px 20px !important;
  }
  .level-selection-wrapper {
    margin-top: 20px;
    height: auto !important;
  }
  .level-grid {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .level-grid .level-row {
    padding: 0;
    margin: 0;
    flex-direction: column !important;
    justify-content: center !important;
  }
  .level-grid .level-row .level-card {
    align-self: center !important;
  }
  .coming-soon-card {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */