:root {
  --blue: #3737F4;
  --red: #E93200;
}

h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

body {
  padding: 0;
  margin: 0;
}

p, h1, span, div {
  padding: 0;
  margin: 0;
}

#navbar #nav-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 2.5px;
}
#navbar #nav-container #logo-text-wrapper {
  padding: 10px 50px 10px 50px;
  margin: 0;
}
#navbar #nav-container #logo-text-wrapper h1 {
  margin: 0;
  padding: 0;
}
#navbar #nav-container #logo-text-wrapper h1 .red-p {
  color: var(--red);
}
#navbar #nav-container #logo-text-wrapper h1 .blue-p {
  color: var(--blue);
}
#navbar #nav-container #logo-image-wrapper {
  height: 100%;
  padding: 5px 50px 5px 50px;
}
#navbar #nav-container #logo-image-wrapper #logo-image {
  height: 100%;
}

#content {
  overflow: hidden;
  height: 90vh;
  display: flex;
  flex-direction: row;
}
#content #givens-wrapper {
  height: 100%;
  width: 70vw;
  border-right: solid black 2.5px;
  justify-content: center;
}
#content #givens-wrapper #givens-title-wrapper {
  padding: 5px 50px 5px 50px;
  text-align: center;
  height: 10%;
}
#content #givens-wrapper #givens-playground {
  height: 90%;
}
#content #goals-wrapper {
  height: 100%;
  width: 30vw;
  justify-content: center;
}
#content #goals-wrapper #goals-title-wrapper {
  padding: 5px 50px 5px 50px;
  text-align: center;
  height: 10%;
}
#content #goals-wrapper #goals-playground {
  height: 90%;
}

.atom {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  touch-action: none;
}
.atom .atom-text-wrapper .atom-text {
  font-size: 25px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  cursor: move;
}

.atom-active .atom-text-wrapper .atom-text {
  color: #E93200 !important;
}

.and {
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  touch-action: none;
}
.and .and-wrapper {
  border: solid black 2.5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.and .and-wrapper .and-left {
  min-width: 50px;
  min-height: 50px;
  width: auto;
  height: auto;
  border: dotted black 2.5px;
  border-radius: 5px;
}
.and .and-wrapper .and-symbol {
  min-width: 40px;
  min-height: 40px;
  width: auto;
  height: auto;
  border-top: dotted black 2.5px;
  border-bottom: dotted black 2.5px;
  border-radius: 5px;
}
.and .and-wrapper .and-right {
  min-width: 50px;
  min-height: 50px;
  width: auto;
  height: auto;
  border: dotted black 2.5px;
  border-radius: 5px;
}

#atom {
  border-style: solid;
  border-color: red;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

#machine {
  border-style: solid;
  border-color: blue;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}/*# sourceMappingURL=main.css.map */